service firebase.storage {
  match /b/{bucket}/o {
     match /user/{userId}/{allPaths=**} {
      allow read, write: if request.auth.uid == userId && request.resource.size < 5 * 1024 * 1024;
      allow read: if true;
    }
  }
}